<div class="container-fluid px-4">
    <div style="display: flex; align-items: center;">
        <img class="mt-4 me-4" src="/assets/img/profile-default.webp" alt="ProfilePicture">
        <h1 class="mt-4">User ID: <%= userData.name %></h1>
    </div>
</div>