<div class="container-fluid px-4">
    <div style="display: flex; align-items: center;">
        <img class="mt-4 me-4" src="/assets/img/profile-default.webp" alt="ProfilePicture">
        <h1 class="mt-4">User ID: <%= userData.name %></h1>
    </div>
    <hr>
    <ul class="nav nav-tabs" id="userTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
        </li>
        <!-- Add more tabs as needed -->
    </ul>
    <!-- Tab content -->
    <div class="tab-content" id="userTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date Joined: <%= userData.created_at %></li>
                <li class="list-group-item">Last Active: <%= userData.updated_at %></li>
                <li class="list-group-item">Email: <%= userData.email %></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <!-- Settings content goes here -->
        </div>
        <!-- Add more tab content as needed -->
    </div>
</div>
